.iBUTGa{
    background-color: rgb(240, 185, 11)!important;
    border-radius: 5px!important;
  }
.css-2b097c-container:focus{
    outline: none;
}
.css-1aid2gq-singleValue{
   color: #fff!important;
}
.css-1dw9k5a-menu{
    background-color: rgb(18,22,28)!important;
}
.css-2pmak7-menu{
    background-color: rgb(18,22,28)!important;
}

.css-s8yaeo-control{
    border: none!important;
    box-shadow: none!important;
}

.css-k2i85z-control{
    border: none!important;
    box-shadow: none!important;
}
